@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800|Raleway:300,400,700,800|Roboto:300,400,700");

*{
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: table;
	width: 100%;
	clear: both;
  }
.header {
	background: url(../img/1_slider/header_bg.png) no-repeat center top / cover;
	height: 1024px;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.logo {
	margin-top: 40px;
	float: left;
}
nav {
	float: right;
	margin-top: 62px;
}
.menu {
	display: block;
}
.menu li {
	float: left;
	display: block;
	padding-right: 30px;
}
.menu a {
 	color: #fff;
	 text-decoration: none;
	 font-size: 14px;
	 font-weight: 300;
	 font-family: Montserrat;
}

.heder_titles{
	text-align: center;
	color: #fff;
}
.tittle{
	margin-top: 309px;
	font-size: 36px;
	font-weight: 500;
	font-family: Raleway;
}
.subtitle{
	margin-top: 14px;
	font-size: 52px;
	font-weight: 700;
	font-family: Raleway;
	
}
.description{
	margin-top: 19px;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 52px;
	font-family: Montserrat;
	
}
.button{
	width: 170px;
	margin: 0 auto;
	padding: 21px 0;
	background:#998675;
	color: #fff;
	border-radius: 3px;
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 23px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	box-shadow: inset 0 -3px 0 #736357;
	font-family: Raleway;
	margin-bottom: 327px;
}
.carousel{
	text-align: center;
	margin-bottom: 10px;
}
.service__img{
	min-height: 49px;
	margin-top: 80px;
}
.services-block__title{
	font-family: Raleway;
	font-size: 22px;
	font-weight: 400;
	color: #555555;
	margin-top: 29px;
	margin-bottom: 19px;
}
.service-block__text{
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	color: #8c8c8c;
}
.services-item{
	width: 270px;
	float: left;
	text-align: center;
}
.services_indicator{
	margin-top: 30px;
	margin-bottom: 80px;
}
.section__realization_block{
	background-color: #fbfaf8;
	text-align: center;
}

.realization__title{
	font-size: 30px;
	font-weight: 400;
	color: #555555;
	font-family: Raleway;
	padding-top: 83px;
	padding-bottom: 24px;

}
.realization__description{
	font-size: 16px;
	font-weight: 300;
	color: #8c8c8c;
	line-height: 28px;
	font-family: Montserrat;
	padding-bottom: 40px;
}
.realization_img{
	width: 100%
}
.section__text_box{
 background: url(../img/2_content/text_boxes/text_boxes_bg.png) no-repeat center top / cover;
}

.text__boxes_title{
	padding-top: 48px;
	padding-bottom: 8px;
	font-size: 28px;
	font-family: Raleway;
	color: #ffffff;
}
.text__boxes_title span {
	color: #c7b299;
}
.text__boxes_subtitle{
	font-size: 18px;
	font-family: Montserrat;
	font-weight: 300;
	color: #615855;
	padding-bottom: 49px;
}
.text__boxes{
	margin-left:30px;
	float: left;
}
.button__block{
	margin-bottom: 10px;
}
.button__purchase{
	width: 170px;
	margin-top: 50px;
	margin-right: 30px;
	padding: 19px 0;
	background:#998675;
	color: #fff;
	border-radius: 3px;
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 23px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	box-shadow: inset 0 -3px 0 #736357;
	font-family: Raleway;
	float: right;
}
.project__block{
	text-align: center;
}	
.project__title{
	font-size: 30px;
	font-weight: 400;
	color: #555555;
	font-family: Raleway;
	padding-top: 81px;
	padding-bottom: 24px;
}
.project__description{
	font-size: 16px;
	font-weight: 300;
	color: #8c8c8c;
	line-height: 28px;
	font-family: Montserrat;
	padding-bottom: 50px;
}

.button__a{
	width: 70px;
	padding: 10px 0;
	border-radius: 3px;
	background-color: #998675;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
	text-decoration: none;
	text-align: center;
	
	float: left;
	margin-left: 312px;

}
.button__b{
	width: 120px;
	border-radius: 3px;
	border: 1px solid #ebebeb;
	padding: 10px 0;
	font-family: Montserrat;
	font-weight: 300;
	line-height: 21px;
	color: #8c8c8c;
	text-decoration: none;
	text-align: center;
	float: left;
	margin-left: 10px;
	
}
.project__card{
	margin-top: 10px;
	width: 100%;
	
}
.project__img{
	position: relative;
	float: left;
}
.card__title{
	position: absolute;
	left: 28px;
	bottom: 60px;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 500;
	color: #c7b299;
	
}
.card__subtitle{
	position: absolute;
	left: 28px;
	bottom: 40px;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	color: #d1d1d1;
}
.button__load{
	width: 170px;
	margin: 59px auto;
	padding: 19px 0;
	background:#998675;
	color: #fff;
	border-radius: 3px;
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 23px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	box-shadow: inset 0 -3px 0 #736357;
	font-family: Raleway;
}	
.footer {
	background: url(../img/3_footer/footer_bgg.png) no-repeat center top / cover;
}
.copyright{
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	color: #555555;
	float: left;
}
.copyright span{
	color: #959595;
}
.copyright h4{
	display: inline;
}
.copyright a{
	text-decoration: none;
	color: #959595;
}
.design{
	float: right;
	display: inline;
	padding-top: 45px;
	padding-bottom: 52px;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	color: #959595;
	font-family: Montserrat;
}
.design span{
	color: #555555;
}